form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: #008CBA;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button[type="submit"]:hover:not([disabled]) {
  background-color: #004964;
}

button[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.checkout-btn {
  margin-top: 20px;
}
